<div class="container">
	<div class="row">

		<div class="col">
			<div class="card">
			  <div class="card-body">
			    <h4 class="card-title">Undefiled Burgerinos</h4>
			    <h6 class="card-subtitle mb-2 text-muted">(click to mark as devoured)</h6>
			   	{{#each burgers}}
			    	{{#unless devoured}}
			    		{{> burgers/burger-block}}
			    	{{/unless}}
				{{/each}}
			  </div>
			</div>  
		</div>

		<div class="col">
			<div class="card">
			  <div class="card-body">
			    <h4 class="card-title">Invent-a-Burger</h4>
				<form>
					<div class="form-group">
						<label for="burger_name">Burger Name</label>
						<input type="text" size="30" class="form-control" id="burger_name" placeholder="Enter burger name">
					</div>
					<div class="form-check">
						<label class="form-check-label">
						<input type="checkbox" id="devoured" class="form-check-input">
						Already devoured
						</label>
					</div>
					<button type="submit" id="postBurger" class="btn btn-primary">Submit</button>
				</form>
			  </div>
			</div>

		<div class="col">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Despoiled Burgheurs</h4>
					<h6 class="card-subtitle mb-2 text-muted">(click to delete)</h6>
					{{#each burgers}}
						{{#if devoured}}
							{{> burgers/burger-block}}
						{{/if}}
					{{/each}}
				</div>
			</div>

		</div>

	</div>
</div>














